.container,
article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 2em;
}

.counter-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  padding: 1.25em;
  background: rgba(29, 29, 29, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 1.25em;
  border-width: 1px 2px 3px 2px;
  border-style: solid;
  border-color: var(--black-color);
}

.number-wrapper {
  padding: 3.125em;
  background: rgba(29, 29, 29, 0.2);
  border: 1px solid #ffffff;
  backdrop-filter: blur(5px);
  border-radius: 40px;
}

.counter-numbers {
  font-size: 64px;
  font-weight: 700;
  color: var(--white-color);
}

/* ============ MEDIA QUERIES (MEDIUM DEVICES) ============ */

@media screen and (max-width: 1024px) {
  .counter-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-column-gap: 8px;
  }
  .number-wrapper {
    font-size: 15px;
    padding: 2em;
  }

  .counter-numbers {
    font-size: 25px;
  }

  .number-wrapper {
    border-radius: 25px;
  }
}

/* ============ MEDIA QUERIES (SMALL DEVICES) ============ */

@media screen and (max-width: 600px) {
  .number-wrapper {
    font-size: 10px;
    padding: 2em;
  }

  .counter-numbers {
    font-size: 20px;
  }

  .number-wrapper {
    border-radius: 20px;
  }
}
