* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  /* text-align: center; */
  font-family: "Ubuntu", sans-serif;
}

:root {
  --white-color: #d5d4da;
  --dark-color: #1d1d1d;
  --green-light: #124d22;
  --green-dark: #07200e;

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-ms: 90%;
}
