* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  /* text-align: center; */
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
}

h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  color: var(--white-color);
  -webkit-text-stroke: 2px var(--black-color);
}

:root {
  --counter-font-color: #6e040e;
  --white-color: #d5d4da;
  --black-color: #1d1d1d;
  --light-btn-color: #124d22;
  --dark-btn-color: #07200e;
  --transparency: 10%;

  --blur-bg: blur(10px);

  --custom-border: 1px 2px 3px 2px;

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-ms: 90%;
}
